extends ./header.pug
block scripts
    link(rel='stylesheet', href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
block content
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/')
            | TodosManager
        ul.nav.navbar-nav
          li.active
            a(href='/') Home
          li
            a(href='/dashboard') My Todos
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/auth/register')
              span.glyphicon.glyphicon-user SignUp
          li
            a(href='/auth/login')
              span.glyphicon.glyphicon-log-in LogIn
