doctype html5
html
  head
    title Login

  body
    form(action='/auth/login' method='POST')
      label Name
        input(type='text' id="username" name='username' required placholder='Username' )
      label Password
        input(type='password' id='current-password' name='password')
      input(type='submit' value='Login')